@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
	font-family: 'Merriweather', serif;
}

html {
	overflow-x: hidden;
}

.grid {
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column-gap: 5rem;
	grid-row-gap: 10rem;
	justify-items: center;
	padding-top: 50px;
	width: 100%;
	display: grid;
}

.grid img {
	width: 250px;
	height: 40vh;
	margin-bottom: 1rem;
	object-fit: cover;
}

@media only screen and (max-width: 600px) {
	.grid img {
		width: 30rem;
	}
}

.container {
	display: flex;
	flex-direction: column;
	/* padding: 50px; */
}

.innerContainer {
	height: 20rem;
	width: 100%;
	object-fit: contain;
}

.textContainer {
	width: 294px;
}

.productImg {
	min-height: 390px;
	max-width: 270px;
	object-fit: contain;
}

li {
	border-bottom-width: 0;
	background-image: linear-gradient(transparent, transparent),
		linear-gradient(black, black);
	background-size: 0 1px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease-in-out;
	padding-bottom: 2px;
}

li:hover {
	background-size: 100% 1px;
	background-position: 0 100%;
}
